<h1>YouTube Videos</h1>

<div class=" container">

  <ul *ngFor="let youTubeData of data">

    <li>{{ youTubeData.id.videoId }}</li>
    <a routerLink="/home/youtube/{{ youTubeData.id.videoId }} " routerLinkActive="active">
      <li>{{ youTubeData.snippet.title }}</li>
    </a>
    <li>{{ youTubeData.snippet.description}}</li>
    <img src="{{youTubeData.snippet.thumbnails.default.url}}" alt="Forest"
         height={{youTubeData.snippet.thumbnails.default.height}}
         width={{youTubeData.snippet.thumbnails.default.width}}>
  </ul>
</div>

<router-outlet></router-outlet>

